<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planning Poker</title>

    <link rel="stylesheet" href="/webjars/planningpoker-client/0.0.1-SNAPSHOT/main.css">
    <script src="/webjars/planningpoker-client/0.0.1-SNAPSHOT/main.js"></script>
    <link rel="icon" href="/server/src/main/resources/favicon.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="border-bottom mb-5">
        <h1 class="fs-4">Planning Poker</h1>
    </header>
    <main id="app">
        <section class="pb-5">
            <form id="roomEntity-selection" th:object="${roomSelection}">
                <div class="mb-2">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                    <div class="form-text">Please enter your participant name.</div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="roomEntity">Room</label>
                    <input type="text" class="form-control" name="roomEntity" id="roomEntity" th:field="*{roomEntity}">
                    <div class="form-text">Please enter a roomEntity ID.</div>
                </div>
                <button id="roomEntity-connect" type="submit" class="btn btn-primary">Connect</button>
                <button id="roomEntity-disconnect" class="btn btn-outline-primary ms-2" disabled>Disconnect</button>
            </form>
        </section>
        <section class="border-top pt-5">
            <form id="roomEntity-voteEntities">
                <input type="hidden" th:value="${sessionId}" name="sessionId" id="sessionId">
                <div>
                    <input type="checkbox"
                           class="btn-check"
                           id="revealed"
                           th:checked="${revealed}"
                           th:disabled="${sessionId == null}">
                    <label for="revealed"
                           class="btn btn-outline-primary"
                           th:text="${revealed ? 'Hide voteEntities' : 'Reveal voteEntities'}">
                        Reveal voteEntities
                    </label>
                    <button id="roomEntity-reset"
                            class="btn btn-outline-secondary"
                            th:disabled="${sessionId == null}">Reset voteEntities</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Participant Name</th>
                            <th>Participant Vote</th>
                            <th>Participant Ready Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vote : ${voteEntities}"
                            th:classappend="${!revealed and vote.ready ? 'table-success' : ''}">
                            <th scope="row" th:text="${vote.name}">
                                Participant Name
                            </th>
                            <td th:remove="${vote.sessionId != sessionId}? all : none">
                                <select name="vote" id="vote" class="form-select">
                                    <option th:attrappend="selected=${vote.vote == '' ? 'selected' : ''}">
                                        Please select a vote
                                    </option>
                                    <option th:each="voteOption : ${new String[]{'0', '½', '1', '2', '3', '5', '8'}}"
                                            th:value="${voteOption}"
                                            th:text="${voteOption}"
                                            th:attrappend="selected=${vote.vote == voteOption ? 'selected' : ''}">
                                        ½
                                    </option>
                                </select>
                            </td>
                            <td th:remove="${vote.sessionId == sessionId}? all : none" th:text="${revealed}? ${vote.vote} : '…'">
                                Participant Vote
                            </td>
                            <td th:remove="${vote.sessionId != sessionId}? all : none">
                                <div class="form-check">
                                    <input type="checkbox" name="ready" id="ready" class="form-check-input">
                                    <label for="ready" class="form-check-label">Ready</label>
                                </div>
                            </td>
                            <td th:remove="${vote.sessionId == sessionId}? all : none" th:text="${vote.ready ? 'Ready' : 'Not Ready'}">
                                Not Ready
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </section>
    </main>
</div>
<script th:inline="javascript">
$(function() {
    $('#roomEntity-selection')
        .submit(function(event) {
            event.preventDefault();

            const { name, roomEntity } = this;
            $(this).parents('#app').trigger('roomEntity:connect', [{ name: name.value, roomEntity: roomEntity.value }]);
        })
        .on('click', '#roomEntity-disconnect', function() {
            $(this).trigger('roomEntity:disconnect');
        })
    $('#roomEntity-voteEntities')
        .submit(function(event) {
            event.preventDefault();

            const { sessionId, vote, ready } = this;
            const { name, roomEntity } = $('#roomEntity-selection').get(0);

            $(this).trigger('roomEntity:vote', [ {
                sessionId: sessionId.value,
                vote: vote.value,
                name: name.value,
                roomEntity: roomEntity.value,
                ready: ready.checked,
            } ] );
        })
        .on('change', 'select#vote', function(event) {
            $(event.delegateTarget).submit();
        })
        .on('change', 'input#ready', function(event) {
            $(event.delegateTarget).submit();
        })
        .on('change', 'input#revealed', function(event) {
            event.preventDefault();
            const { roomEntity } = $('#roomEntity-selection').get(0);
            $(this).trigger('roomEntity:revealChange', [ {
                revealed: $(this).prop('checked'),
                roomEntity: roomEntity.value,
            } ] );
        })
        .on('click', '#roomEntity-reset', function() {
            const { roomEntity } = $('#roomEntity-selection').get(0);
            $(this).trigger('roomEntity:reset', [ {
                roomEntity: roomEntity.value,
            } ] );
        });
    $('#app')
        .on('roomEntity:connect', function(event, { name, roomEntity }) {
            const protocol = window.location.protocol.startsWith('https:')
                ? 'wss:'
                : 'ws:';
            const client = new StompJs.Client({
                brokerURL: `${protocol}//${window.location.host}/ws`,
                debug: console.log,
                reconnectDelay: 0,
            });
            $(this).data('client', client);

            client.onConnect = ({ headers }) => {
                const userName = headers['user-name'];
                console.log(`Client user name: ${userName}`);

                client.subscribe(`/user/${userName}/roomEntity/${roomEntity}/voteEntities`, message => {
                    Alpine.morph(document.getElementById('roomEntity-voteEntities'), message.body);
                });

                $(this).trigger('roomEntity:connected', [{ name, roomEntity }]);
            };

            client.onWebSocketError = () => {
                $(this).trigger('roomEntity:connectionFailed');
            }

            client.onWebSocketClose = () => {
                $(this).trigger('roomEntity:disconnected');
            }

            client.activate();
        })
        .on('roomEntity:disconnect', function() {
            const client = $(this).data('client');
            if (typeof client !== 'undefined') {
                client.deactivate();
                $(this).trigger('roomEntity:disconnected');
            }
        })
        .on('roomEntity:connected', function(event, { name, roomEntity }) {
            const client = $(this).data('client');
            client.publish({
                destination: '/app/roomEntity-selection',
                body: JSON.stringify({ name, roomEntity})
            });
            $(this)
                .find(':input:not(#roomEntity-disconnect)')
                .prop('disabled', true);
            $(this)
                .find('#roomEntity-disconnect')
                .prop('disabled', false);
        })
        .on('roomEntity:connectionFailed', function() {
            console.log('There was an error connecting');
        })
        .on('roomEntity:disconnected', function() {
            $(this)
                .removeData('client')
                .find(':input:not(#roomEntity-disconnect)')
                .prop('disabled', false);
            $(this)
                .find('#roomEntity-disconnect')
                .prop('disabled', true);

            $(this)
                .find('#roomEntity-voteEntities tbody')
                .empty();
        })
        .on('roomEntity:vote', function(event, { sessionId, vote, name, roomEntity, ready }) {
            const client = $(this).data('client');
            if (typeof client !== 'undefined') {
                client.publish({
                    destination: '/app/roomEntity-vote',
                    body: JSON.stringify({ sessionId, vote, name, roomEntity, ready })
                });
            }
        })
        .on('roomEntity:revealChange', function(event, { revealed, roomEntity }) {
            const client = $(this).data('client');
            if (typeof client !== 'undefined') {
                client.publish({
                    destination: '/app/reveal-change',
                    body: JSON.stringify({ revealed, roomEntity })
                });
            }
        })
        .on('roomEntity:reset', function(event, { roomEntity }) {
            $('#revealed, #ready').prop('checked', false);
            const client = $(this).data('client');
            if (typeof client !== 'undefined') {
                client.publish({
                    destination: '/app/roomEntity-reset',
                    body: JSON.stringify({ roomEntity })
                });
            }
        });
});
</script>
</body>
</html>