<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planning Poker</title>

    <link href="/webjars/bootstrap/5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script src="/webjars/stomp__stompjs/6.1.2/bundles/stomp.umd.min.js"></script>
    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="border-bottom mb-5">
        <h1 class="fs-4">Planning Poker</h1>
    </header>
    <main id="app">
        <section class="pb-5">
            <form id="room-selection" th:object="${roomSelection}">
                <div class="mb-2">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                    <div class="form-text">Please enter your participant name.</div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="room">Room</label>
                    <input type="text" class="form-control" name="room" id="room" th:field="*{room}">
                    <div class="form-text">Please enter a room ID.</div>
                </div>
                <button id="room-connect" type="submit" class="btn btn-primary">Connect</button>
                <button id="room-disconnect" class="btn btn-outline-primary ms-2" disabled>Disconnect</button>
            </form>
        </section>
        <section class="border-top pt-5">
            <form id="room-votes">
                <input type="hidden" th:value="${sessionId}" name="sessionId" id="sessionId">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="revealed" th:checked="${revealed}">
                    <label for="revealed" class="form-check-label">Reveal votes</label>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Participant Name</th>
                            <th>Participant Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vote : ${votes}">
                            <th scope="row" th:text="${vote.name}">
                                Participant Name
                            </th>
                            <td th:remove="${vote.sessionId != sessionId}? all : none">
                                <input type="text" class="form-control" name="vote" id="vote" th:value="${vote.vote}">
                            </td>
                            <td th:remove="${vote.sessionId == sessionId}? all : none" th:text="${revealed}? ${vote.vote} : '…'">
                                Participant Vote
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </section>
    </main>
</div>
<script th:inline="javascript">
$(function() {
    $('#room-selection')
        .submit(function(event) {
            event.preventDefault();

            const { name, room } = this;
            $(this).parents('#app').trigger('room:connect', [{ name: name.value, room: room.value }]);
        })
        .on('click', '#room-disconnect', function() {
            $(this).trigger('room:disconnect');
        })
    $('#room-votes')
        .submit(function(event) {
            event.preventDefault();

            const { sessionId, vote } = this;
            const { name, room } = $('#room-selection').get(0);

            $(this).trigger('room:vote', [ {
                sessionId: sessionId.value,
                vote: vote.value,
                name: name.value,
                room: room.value
            } ] );
        })
        .on('input', 'input[type=text]', function(event) {
            $(event.delegateTarget).submit();
        })
        .on('change', 'input[type=checkbox]', function() {
            const { room } = $('#room-selection').get(0);
            $(this).trigger('room:revealChange', [ {
                revealed: $(this).prop('checked'),
                room: room.value
            } ] );
        });
    $('#app')
        .on('room:connect', function(event, { name, room }) {
            const client = new StompJs.Client({
                brokerURL: "ws://localhost:8080/ws",
                debug: console.log,
                reconnectDelay: 0
            });
            $(this).data('client', client);

            client.onConnect = ({ headers }) => {
                const userName = headers['user-name'];
                console.log(`Client user name: ${userName}`);

                client.subscribe(`/user/${userName}/room/${room}/votes`, message => {
                    Alpine.morph(document.getElementById('room-votes'), message.body);
                });

                $(this).trigger('room:connected', [{ name, room }]);
            };

            client.onWebSocketError = () => {
                $(this).trigger('room:connectionFailed');
            }

            client.onWebSocketClose = () => {
                $(this).trigger('room:disconnected');
            }

            client.activate();
        })
        .on('room:disconnect', function() {
            const client = $(this).data('client');
            if (typeof client === 'undefined') {
                return;
            }
            client.deactivate();
            $(this).trigger('room:disconnected');
        })
        .on('room:connected', function(event, { name, room }) {
            const client = $(this).data('client');
            client.publish({
                destination: '/app/room-selection',
                body: JSON.stringify({ name, room})
            });
            $(this)
                .find(':input:not(#room-disconnect)')
                .prop('disabled', true);
            $(this)
                .find('#room-disconnect')
                .prop('disabled', false);
        })
        .on('room:connectionFailed', function() {
            console.log('There was an error connecting');
        })
        .on('room:disconnected', function() {
            $(this)
                .removeData('client')
                .find(':input:not(#room-disconnect)')
                .prop('disabled', false);
            $(this)
                .find('#room-disconnect')
                .prop('disabled', true);

            $(this)
                .find('#room-votes tbody')
                .empty();
        })
        .on('room:vote', function(event, { sessionId, vote, name, room }) {
            const client = $(this).data('client');
            client.publish({
                destination: '/app/room-vote',
                body: JSON.stringify({ sessionId, vote, name, room })
            });
        })
        .on('room:revealChange', function(event, { revealed, room }) {
            const client = $(this).data('client');
            client.publish({
                destination: '/app/reveal-change',
                body: JSON.stringify({ revealed, room })
            })
        });
});
</script>
</body>
</html>